<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">xyag902</property>
    <property name="hibernate.connection.url">jdbc:postgresql://10.36.1.154:5432/quanzheng</property>
    <property name="hibernate.connection.username">xy</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzhf"/>
    <mapping class="com.mseeworld.qzh.model.Xbdmb"/>
    <mapping class="com.mseeworld.qzh.model.Qslyzlfj"/>
    <mapping class="com.mseeworld.qzh.model.Cbdkxx"/>
    <mapping class="com.mseeworld.qzh.model.CbfJtcy"/>
    <mapping class="com.mseeworld.qzh.model.Cart"/>
    <mapping class="com.mseeworld.qzh.model.Syqsxdmb"/>
    <mapping class="com.mseeworld.qzh.model.Sfdmb"/>
    <mapping class="com.mseeworld.qzh.model.Product"/>
    <mapping class="com.mseeworld.qzh.model.AUser"/>
    <mapping class="com.mseeworld.qzh.model.Lzht"/>
    <mapping class="com.mseeworld.qzh.model.Cbf"/>
    <mapping class="com.mseeworld.qzh.model.Fbf"/>
    <mapping class="com.mseeworld.qzh.model.Cbht"/>
    <mapping class="com.mseeworld.qzh.model.Tdytdmb"/>
    <mapping class="com.mseeworld.qzh.model.Cbflxdmb"/>
    <mapping class="com.mseeworld.qzh.model.Dk"/>
    <mapping class="com.mseeworld.qzh.model.Cybzdmb"/>
    <mapping class="com.mseeworld.qzh.model.Category"/>
    <mapping class="com.mseeworld.qzh.model.Dklbdmb"/>
    <mapping class="com.mseeworld.qzh.model.AOrganization"/>
    <mapping class="com.mseeworld.qzh.model.Cbht1"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqz"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqqdfsdmb"/>
    <mapping class="com.mseeworld.qzh.model.SaleItem"/>
    <mapping class="com.mseeworld.qzh.model.Zjlxdmb"/>
    <mapping class="com.mseeworld.qzh.model.Dldjdmb"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqzdjb"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzbf"/>
    <mapping class="com.mseeworld.qzh.model.Lzht1"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzzx"/>
  </session-factory>
</hibernate-configuration>
