<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">xyag902</property>
    <property name="hibernate.connection.url">jdbc:postgresql://10.36.1.154:5432/quanzheng</property>
    <property name="hibernate.connection.username">xy</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping resource="com/mseeworld/qzh/model1/AOrganization.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Lzht.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Cbdkxx.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Cbht.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/CbjyqzQzbf.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Qslyzlfj.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Cbjyqzdjb.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Fbf.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/CbjyqzQzhf.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/CbjyqzQzzx.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/AUser.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/CbfJtcy.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Cbf.hbm.xml"/>
    <mapping resource="com/mseeworld/qzh/model1/Cbjyqz.hbm.xml"/>
    <mapping class="test.jpa.Cbjyqzdjb"/>
    <mapping class="test.jpa.Cbf"/>
    <mapping class="test.jpa.Qslyzlfj"/>
    <mapping class="test.jpa.CbjyqzQzbf"/>
    <mapping class="test.jpa.AOrganization"/>
    <mapping class="test.jpa.AUser"/>
    <mapping class="test.jpa.CbjyqzQzhf"/>
    <mapping class="test.jpa.Cbjyqz"/>
    <mapping class="test.jpa.Cbdkxx"/>
    <mapping class="test.jpa.CbjyqzQzzx"/>
    <mapping class="test.jpa.Lzht"/>
    <mapping class="test.jpa.Cbht"/>
    <mapping class="test.jpa.Fbf"/>
    <mapping class="test.jpa.CbfJtcy"/>
    <mapping resource="test/jpa/Cbf.hbm.xml"/>
    <mapping resource="test/jpa/CbjyqzQzbf.hbm.xml"/>
    <mapping resource="test/jpa/Fbf.hbm.xml"/>
    <mapping resource="test/jpa/CbjyqzQzzx.hbm.xml"/>
    <mapping resource="test/jpa/Cbjyqzdjb.hbm.xml"/>
    <mapping resource="test/jpa/Cbht.hbm.xml"/>
    <mapping resource="test/jpa/Cbdkxx.hbm.xml"/>
    <mapping resource="test/jpa/AOrganization.hbm.xml"/>
    <mapping resource="test/jpa/Qslyzlfj.hbm.xml"/>
    <mapping resource="test/jpa/CbjyqzQzhf.hbm.xml"/>
    <mapping resource="test/jpa/AUser.hbm.xml"/>
    <mapping resource="test/jpa/Lzht.hbm.xml"/>
    <mapping resource="test/jpa/Cbjyqz.hbm.xml"/>
    <mapping resource="test/jpa/CbfJtcy.hbm.xml"/>
    <mapping class="com.mseeworld.qzh.model.Fbf"/>
    <mapping class="com.mseeworld.qzh.model.Cbht"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzhf"/>
    <mapping class="com.mseeworld.qzh.model.Cbdkxx"/>
    <mapping class="com.mseeworld.qzh.model.Qslyzlfj"/>
    <mapping class="com.mseeworld.qzh.model.CbfJtcy"/>
    <mapping class="com.mseeworld.qzh.model.Category"/>
    <mapping class="com.mseeworld.qzh.model.AOrganization"/>
    <mapping class="com.mseeworld.qzh.model.Cart"/>
    <mapping class="com.mseeworld.qzh.model.CartItem"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqz"/>
    <mapping class="com.mseeworld.qzh.model.Product"/>
    <mapping class="com.mseeworld.qzh.model.SaleItem"/>
    <mapping class="com.mseeworld.qzh.model.AUser"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqzdjb"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzbf"/>
    <mapping class="com.mseeworld.qzh.model.Lzht"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzzx"/>
    <mapping class="com.mseeworld.qzh.model.Cbf"/>
    <mapping class="com.mseeworld.qzh.model.SalesOrder"/>
    <mapping class="com.mseeworld.qzh.model.dto.OrderFormDto"/>
    <mapping class="com.mseeworld.qzh.model.Fbf"/>
    <mapping class="com.mseeworld.qzh.model.Cbht"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzhf"/>
    <mapping class="com.mseeworld.qzh.model.Cbdkxx"/>
    <mapping class="com.mseeworld.qzh.model.Qslyzlfj"/>
    <mapping class="com.mseeworld.qzh.model.CbfJtcy"/>
    <mapping class="com.mseeworld.qzh.model.Category"/>
    <mapping class="com.mseeworld.qzh.model.Cart"/>
    <mapping class="com.mseeworld.qzh.model.AOrganization"/>
    <mapping class="com.mseeworld.qzh.model.CartItem"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqz"/>
    <mapping class="com.mseeworld.qzh.model.Product"/>
    <mapping class="com.mseeworld.qzh.model.SaleItem"/>
    <mapping class="com.mseeworld.qzh.model.AUser"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqzdjb"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzbf"/>
    <mapping class="com.mseeworld.qzh.model.Lzht"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzzx"/>
    <mapping class="com.mseeworld.qzh.model.Cbf"/>
    <mapping class="com.mseeworld.qzh.model.SalesOrder"/>
    <mapping class="com.mseeworld.qzh.model.dto.OrderFormDto"/>
    <mapping class="com.mseeworld.qzh.model.Fbf"/>
    <mapping class="com.mseeworld.qzh.model.Cbht"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzhf"/>
    <mapping class="com.mseeworld.qzh.model.Qslyzlfj"/>
    <mapping class="com.mseeworld.qzh.model.Cbdkxx"/>
    <mapping class="com.mseeworld.qzh.model.CbfJtcy"/>
    <mapping class="com.mseeworld.qzh.model.Category"/>
    <mapping class="com.mseeworld.qzh.model.Cart"/>
    <mapping class="com.mseeworld.qzh.model.AOrganization"/>
    <mapping class="com.mseeworld.qzh.model.CartItem"/>
    <mapping class="com.mseeworld.qzh.model.Product"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqz"/>
    <mapping class="com.mseeworld.qzh.model.SaleItem"/>
    <mapping class="com.mseeworld.qzh.model.AUser"/>
    <mapping class="com.mseeworld.qzh.model.Cbjyqzdjb"/>
    <mapping class="com.mseeworld.qzh.model.Lzht"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzbf"/>
    <mapping class="com.mseeworld.qzh.model.CbjyqzQzzx"/>
    <mapping class="com.mseeworld.qzh.model.SalesOrder"/>
    <mapping class="com.mseeworld.qzh.model.Cbf"/>
    <mapping class="com.mseeworld.qzh.model.dto.OrderFormDto"/>
  </session-factory>
</hibernate-configuration>
