<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">xyag902</property>
    <property name="hibernate.connection.url">jdbc:postgresql://10.36.1.154:5432/quanzheng</property>
    <property name="hibernate.connection.username">xy</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <mapping class="com.mseeworld.qzh.bean.CbjyqzQzhf"/>
    <mapping class="com.mseeworld.qzh.bean.Xbdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Qslyzlfj"/>
    <mapping class="com.mseeworld.qzh.bean.Cbdkxx"/>
    <mapping class="com.mseeworld.qzh.bean.CbfJtcy"/>
    <mapping class="com.mseeworld.qzh.bean.Cart"/>
    <mapping class="com.mseeworld.qzh.bean.Syqsxdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Sfdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Product"/>
    <mapping class="com.mseeworld.qzh.bean.AUser"/>
    <mapping class="com.mseeworld.qzh.bean.Lzht"/>
    <mapping class="com.mseeworld.qzh.bean.Cbf"/>
    <mapping class="com.mseeworld.qzh.bean.Fbf"/>
    <mapping class="com.mseeworld.qzh.bean.Cbht"/>
    <mapping class="com.mseeworld.qzh.bean.Tdytdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Cbflxdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Dk"/>
    <mapping class="com.mseeworld.qzh.bean.Cybzdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Category"/>
    <mapping class="com.mseeworld.qzh.bean.Dklbdmb"/>
    <mapping class="com.mseeworld.qzh.bean.AOrganization"/>
    <mapping class="com.mseeworld.qzh.bean.Cbht1"/>
    <mapping class="com.mseeworld.qzh.bean.Cbjyqz"/>
    <mapping class="com.mseeworld.qzh.bean.Cbjyqqdfsdmb"/>
    <mapping class="com.mseeworld.qzh.bean.SaleItem"/>
    <mapping class="com.mseeworld.qzh.bean.Zjlxdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Dldjdmb"/>
    <mapping class="com.mseeworld.qzh.bean.Cbjyqzdjb"/>
    <mapping class="com.mseeworld.qzh.bean.CbjyqzQzbf"/>
    <mapping class="com.mseeworld.qzh.bean.Lzht1"/>
    <mapping class="com.mseeworld.qzh.bean.CbjyqzQzzx"/>
  </session-factory>
</hibernate-configuration>
